<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'website/css/style.css' %}">
	<script src="{% static 'website/js/jquery-2.1.4.min.js' %}"></script>
	<title>{{ title }}</title>

    <script src="//checkout.stripe.com/v2/checkout.js">
    </script>
    <script>
        $(function() {
            $('body').on("click", '.change-card, .subscribe-form button[type=submit]', function(e) {
              e.preventDefault();
              var $form = $(this).closest("form"),
                  token = function(res) {
                    $form.find("input[name=stripe_token]").val(res.id);
                    $form.trigger("submit");
                  };

              StripeCheckout.open({
                key:         $form.data("stripe-key"),
                name:        'Payment Method',
                panelLabel:  'Add Payment Method',
                token:       token
              });

              return false;
            });
        });
    </script>

</head>
<body>
	<header>
		<div id="logo"> Welcome to our restaurant!</div>

		{% if request.user.is_authenticated != False %}

	    <div id="logged_menu">
	        Hello, {{ request.user.username }}
	        <a href="{% url 'logout' %}">Logout here</a>
	    </div>
	    {% endif %}
	</header>
	<div class="wrapper">
		<section>
        	{% block content %}
        	{% endblock %}
    	</section>
    </div>
</body>
</html>
