{% extends "base.html" %}

{% block content %}

    {% load staticfiles %}

	<section class="description_content row" id="finalizeSection">
	  <div class="table-responsive col-xs-12 col-sm-7 finalizeContent">
	    <table class="table table-hover" id="finalizeTable">
	      <thead>
	        <tr>
	          <th>Name</th>
	          <th>Price</th>
	          <th></th>
	        </tr>
	      </thead>
	      <tfoot>
	        <tr>
	          <td>
	            <p>Маса 12</p>
	          </td>
	          <td id="totalPrice">0лв.</td>
	          <td>
	          </td>
	        </tr>
	      </tfoot>
	      <tbody id="orderTable">

	      </tbody>
	    </table>
	  </div>

	  <div class="col-xs-12 col-sm-5 finalizeContent">
	  	<button type="button" class="btn pay-button">Pay only my bill in cash</button>
	  	<button type="button" class="btn pay-button">Pay the whole table's bill in cash</button><br/>
	  	<button type="button" class="btn pay-button">Pay only my bill with PayPal</button>
	  	<button type="button" class="btn pay-button">Pay the whole table's bill with PayPal</button>
	  </div>
	</section>

	  
 

  	<!--<section  class="description_content">
    	<div style="width:500px;margin: 0 auto;margin-top:130px;min-height:350px;">
	        <a href="{% url 'order' %}"><button type="button" class="btn btn-success btn-lg" id="order-btn">Order more</button></a>
	        <table>
	            <tr>
	                <td>Your order:</td>
	            </tr>
	            <tr>
	                <td>Potatoes</td>
	            </tr>
	        </table>

	        <label>Table number:</label>
	        <input id="table-number" type="number">

	        <label>You owe:</label>
	        <span>65 леа</span><br/>

	        <button type="button" class="btn btn-primary pay-button">Pay the bill <br/>
	        in cash</button>
	        <button type="button" class="btn btn-primary pay-button">Pay the bill <br/>
	        with PayPal</button>

	    </div>
  	</section>-->

{% endblock %}
