
    <p>
        <a href="{% url 'order' %}"> Order </a>
    </p>

    {% if request.user.is_authenticated %}

    <p>
        Hello, {{ request.user.username }}
    </p>

    <p>
        <a href="{% url 'logout' %}">Logout here</a>
    </p>

    {% else %}

        <form method="POST">
          {% csrf_token %}

            <br />
            <div>
                <label> Username: </label>
                <input type="text" name="username" />
            </div>

            <br />

            <div>
                <label> Password: </label>
                <input type="password" name="password" />
            </div>

            <br />

          <input type="submit" value="Login" />
        </form>

    <p>
        <a href="{% url 'register' %}"> Register </a>
    </p>

    {% endif %}
