
    <p>
        <a href=""> Order </a>
    </p>

    {% if request.user.is_authenticated %}

    <p>
        Hello, {{ request.user.username }}
    </p>

    <p>
        <a href="{% url 'logout' %}">Logout here</a>
    </p>

    <form action="/charge" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
    data-image="/img/documentation/checkout/marketplace.png"
    data-name="Stripe.com"
    data-description="2 widgets"
    data-amount="2000">
  </script>
</form>

    {% else %}

        <form method="POST">
          {% csrf_token %}

            <br />
            <div>
                <label> Username: </label>
                <input type="text" name="username" />
            </div>

            <br />

            <div>
                <label> Password: </label>
                <input type="password" name="password" />
            </div>

            <br />

          <input type="submit" value="Login" />
        </form>

    <p>
        <a href="{% url 'register' %}"> Register </a>
    </p>

    {% endif %}
