{% extends "base.html" %}



{% block content %}
    {% load staticfiles %}
    <div id="top" class="starter_container bg">

      <div class="follow_container">
        <div class="starter_follow">

        <h2 class="top-title">Welcome {{request.user.username}} to X Restaurant</h2>
        <hr>
        <a href="{% url 'order' %}"><button type="button" class="btn btn-default" id="order">Make order</button></a>
        {% if not request.user.is_authenticated %}
            <span id="registerHeading">OR</span>
            <button type="button" class="btn btn-default" id="login">LogIn</button>
            <div id="loginModule">

              <form  method="POST">
                  {% csrf_token %}
                <div class="log">
                  <label for="name">Name:</label> <br>
                  <label for="password">Password:</label>
                </div>
                <div class="log">
                  <input type="text" id="name" name="username"> </br>
                  <input type="password" id="password" name="password">
                </div >
                <div id="loginButton">
                  <input type="submit" value="Login" />
                </div>
              </form>


            </div>

            <div id="registrationModule">

                  <h3 id="registerHeading">If you want to join our restaurant commutnity</h3>
                  <a href="#registration"><button type="button" class="btn btn-default dropdown-toggle" id="register">Register</button></a>
          </div>
      {% endif %}
      {% if request.user.is_authenticated %}
        <div id="last_orders" style="background:white;opacity:0.7;width:350px;margin:0 auto;margin-top:20px;">

            <h2>Last orders</h2>
            {% if orders != None %}
              {% for order in  orders %}
                  <div style="border:1px solid black;">
                    {% for ormeal in order.ordermeal_set.all %}
                     <p>{{ormeal.meal.name}}</p>

                    {% endfor %}
                  </div>
              {% endfor %}

            {% else %}
              No orders
            {% endif %}

        </div>
      {% endif %}
      </div>

    </div>
  </div>
  <section id="story" class="description_content">
      <div class="limit">
        <div class="description_body margin-right">
          <h1>About us</h1>
          <div class="fa fa-cutlery fa-2x"></div>
<!--           <p>Restaurant is a place for simplicity. Good food, good beer, and good service. Simple is the name of the game, and we’re good at finding it in all the right places, even in your dining experience. We’re a small group from Denver, Colorado who make simple food possible. Come join us and see what simplicity tastes like.</p> -->
          <p>Мултифункционална система за ресторанти, която съкращава работата на персонала и позволява по-лесно наблюдение на поръчките и какво се случва в ресторанта. Предоставя се лесен за употреба интерфейс, което прави престоя на клиента в ресторанта много по-приятен.</p>
        </div>
        <div class="picture_content margin-left">
            <ul class="image_box_story">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
   </section>
   {% if not request.user.is_authenticated %}
   <section id="registration" class="background_content">
     <h1>Registration!</h1>
   </section>



      <div class="contact-form">
          <!-- Form -->
          <form id="contact-us" method="post" action="{% url 'register' %}">
              <!-- Left Inputs -->
              {% csrf_token %}
             <div class="container col-xs-12">
                  <!-- Name -->
                  <input type="text" name="username"  required="required" class="form" placeholder="Username" />
                  <input type="email" name="email"  required="required" class="form" placeholder="Email" />
                  <input type="password" name="password"  required="required" class="form" placeholder="Password" />
                  <input type="password" name="password2"  required="required" class="form" placeholder="Repeat password" />


                  <!-- Send Button -->
                  <button type="submit" id="submit" name="submit" class=" form-btn form-btn1 semibold">Register</button>
              </div><!-- End Bottom Submit -->


              </div><!-- End Left Inputs -->

              <!-- Clear -->
              <div class="clear"></div>
          </form>

      </div><!-- End Contact Form Area -->

   {% endif %}

  <section id="map-canvas" class="background_content map">

   </section>


  <div id="live-geolocation"></div>



{% endblock %}

