{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
	
	<section id ="menu" class="background_content">
     <h1><span>Affordable</span> pricing</h1>
   </section>
   
    <section class="description_content">
      <div class="limit">
        
        <div class="container">
          <div class="row">
            <div id="w">
                <ul id="filter-list" class="clearfix">
                  <li class="filter" data-filter="all">Всички</li>
                  <li class="filter" data-filter="breakfast">Breakfast</li>
                  <li class="filter" data-filter="special">Special</li>
                  <li class="filter" data-filter="desert">Desert</li>
                  <li class="filter" data-filter="dinner">Dinner</li>
                  
                </ul><!-- @end #filter-list -->    
                <ul id="portfolio">
                    <li class="item breakfast menuItem"><img src="{% static 'website/images/food_icon01.jpg' %}" alt="Food" >
                      <h2 class="white orderText">Pizza 18$</h2>
                      <p id="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore voluptate ut, praesentium numquam officia dolore eligendi nobis placeat minus autem necessitatibus doloribus nostrum ipsam ex, reprehenderit non. Voluptatibus, dolore 
                      deleniti.
                      <button class="btn btn-default" id="btn-add">Order</button>
                      </p>

                    </li>
                    <li class="item dinner special menuItem"><img src="{% static 'website/images/food_icon02.jpg' %}" alt="Food" >
                      <h2 class="white orderText">Pizza 18$</h2>
                      <p id="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore voluptate ut, praesentium numquam officia dolore eligendi nobis placeat minus autem necessitatibus doloribus nostrum ipsam ex, reprehenderit non. Voluptatibus, dolore 
                      deleniti.
                      <button class="btn btn-default" id="btn-add">Order</button>
                      </p>
                    </li>
                    <li class="item dinner breakfast menuItem"><img src="{% static 'website/images/food_icon03.jpg' %}" alt="Food" >
                      <h2 class="white orderText">Pizza 18$</h2>
                      <p id="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore voluptate ut, praesentium numquam officia dolore eligendi nobis placeat minus autem necessitatibus doloribus nostrum ipsam ex, reprehenderit non. Voluptatibus, dolore 
                      deleniti.
                      <button class="btn btn-default" id="btn-add">Order</button>
                      </p>
                    </li>
                    <li class="item special menuItem"><img src="{% static 'website/images/food_icon03.jpg' %}" alt="Food" >
                      <h2 class="white orderText">Pizza 18$</h2>
                      <p id="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore voluptate ut, praesentium numquam officia dolore eligendi nobis placeat minus autem necessitatibus doloribus nostrum ipsam ex, reprehenderit non. Voluptatibus, dolore 
                      deleniti.
                      <button class="btn btn-default" id="btn-add">Order</button>
                      </p>
                    </li>
                    <li class="item dinner menuItem"><img src="{% static 'website/images/food_icon05.jpg' %}" alt="Food" >
                      <h2 class="white orderText">Pizza 18$</h2>
                      <p id="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore voluptate ut, praesentium numquam officia dolore eligendi nobis placeat minus autem necessitatibus doloribus nostrum ipsam ex, reprehenderit non. Voluptatibus, dolore 
                      deleniti.
                      <button class="btn btn-default" id="btn-add">Order</button>
                      </p>
                    </li>
                    <li class="item special menuItem"><img src="{% static 'website/images/food_icon06.jpg' %}" alt="Food" >
                      <h2 class="white orderText">Pizza 18$</h2>
                      <p id="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore voluptate ut, praesentium numquam officia dolore eligendi nobis placeat minus autem necessitatibus doloribus nostrum ipsam ex, reprehenderit non. Voluptatibus, dolore 
                      deleniti.
                      <button class="btn btn-default" id="btn-add">Order</button>
                      </p>
                    </li>
                    <li class="item desert menuItem"><img src="{% static 'website/images/food_icon07.jpg' %}" alt="Food" >
                      <h2 class="white orderText">Pizza 18$</h2>
                      <p id="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore voluptate ut, praesentium numquam officia dolore eligendi nobis placeat minus autem necessitatibus doloribus nostrum ipsam ex, reprehenderit non. Voluptatibus, dolore 
                      deleniti.
                      <button class="btn btn-default" id="btn-add">Order</button>
                      </p>
                    </li>
                    <li class="item desert breakfast menuItem"><img src="{% static 'website/images/food_icon08.jpg' %}" alt="Food" >
                      <h2 class="white orderText">Pizza 18$</h2>
                      <p id="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore voluptate ut, praesentium numquam officia dolore eligendi nobis placeat minus autem necessitatibus doloribus nostrum ipsam ex, reprehenderit non. Voluptatibus, dolore 
                      deleniti.
                      <button class="btn btn-default" id="btn-add">Order</button>
                      </p>
                    </li>
                </ul><!-- @end #portfolio -->
            </div><!-- @end #w -->
          </div>
        </div>
      </div>  
   </section>

  <section  class="description_content">
    
      <div class="table-responsive">
        <table class="table table-hover" id="cartItems">
          <thead>
            <tr>
              <th>Name</th>
              <th>Price</th>
              <th></th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <td>
                <input type="number">
              </td>
              <td>36lv</td>
              <td>
                <a href="{% url 'finalize' %}"><button class="btn.btn-sucess">Order</button></a>
              </td>
            </tr>
          </tfoot>
          <tbody id="orderTable">

          </tbody>
        </table>
      </div>
   </section>
<!---
   <script id="cartTemplate" type="text/x-handlebars-template">
   
    <tr>
      <td>{{name}}</td>
      <td>{{price}}</td>
      <td></td>
    </tr>
    
  </script>
-->

{% endblock %}