{% extends "base.html" %}

{% block content %}

  <div class="container-fluid">
    <div class="text-center">
      <h2>Enter credit card details</h2>
    </div>
    <form class="form-horizontal" role="form">
      <div class="row">
        <div class="col-sm-6 col-lg-4">
          <div class="form-group">
            <label class="col-md-4 control-label">Card number:</label>
            <div class="col-md-8">
              <input type="email" class="form-control" id="inputCardNumber" placeholder="Card number">
            </div>
          </div>
        </div>
      </div>
        <div class="row">
          <div class="col-sm-6 col-lg-4">
              <div class="form-group">
                <label class="col-md-4 control-label">CVC code:</label>
                <div class="col-md-8">
                  <input type="password" class="form-control" id="inputCVC" placeholder="CVC">
                </div>
              </div>
            </div>
        </div>

        <div class="row">
          <div class="col-sm-6 col-lg-4">
            <div class="form-group">
              <label class="col-md-4 control-label">Expiration date:</label>
              <div class="col-md-8">
                <input type="text" class="form-control" id="inputMonth" placeholder="mm">
                /
                <input type="text" class="form-control" id="inputYear" placeholder="yy">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 col-lg-4">
            <div class="form-group">
              <label for="inputLabel4" class="col-md-4 control-label">Cardholder name:</label>
              <div class="col-md-8">
                <input type="text" class="form-control" id="inputName" placeholder="Cardholder name">
              </div>
            </div>
          </div>
        </div>
        
      </div><!-- /.row this actually does not appear to be needed with the form-horizontal -->
    </form>
    <p>Note: All fields are required!
  </div><!-- /.container -->
    
{% endblock %} 
